NODE_ENV="development"
PORT=8000
LOG_LEVEL="info"
DATABASE_URL='postgresql://neondb_owner:npg_xgeU02AuoLkv@ep-wild-term-adhwe3us-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
RESEND_API_KEY="re_Uo9onz6h_CaAcB8pY6bdLp6n7oaDtiiFD"
JWT_SECRET="bdfe713880e4c69766d7fa3f11e6b83b6edca6625e1b9f68cdb98ffadbc4bf44"
FRONTEND_URL="http://localhost:3000"